*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 微軟正黑體;
}
body{
  text-align: center;
}
table{
  border-spacing: 0;
  border-collapse:separate;
  text-align: center;
  margin: 0px auto;
}
table td{
  padding: 5px 10px;
  border: 1px solid #ccc;
}
/* table td:last-child{
  text-align: right;
} */
a{
  display: inline-block;
  padding: 0px 5px;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.class-list{
  display: flex; 
  justify-content: center;
  list-style-type: none;
  margin:5px 0;
}
nav ul.class-list li a{
  padding:5px 12px;
  margin:0 2px;
  border-radius:5px;
  background-color: lightskyblue;
  box-shadow: 2px 2px 3px skyblue;
  text-decoration: none;
}
.class-list li a:hover{
  background-color: blue;
  color:white;
  font-weight: bolder;
  text-decoration: underline;
  box-shadow: 1px 1px 5px rgb(0, 0, 174);
}
.pages a.FE{
  text-align: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background-color: lightblue;
  margin: 3px;
  box-shadow: 1px 1px 5px skyblue;
}
.pages a{
  width: 25px;
  height: 25px;
  border-radius: 25%;
  box-shadow: 1px 1px 5px #ccc;
  margin: 0 2px;
  user-select: none;
  line-height: 25px;
}
a.now{
  background-color: lightgreen;
  box-shadow: 1px 1px 5px rgb(121, 202, 121);
}