*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
table{
  border-spacing: 0;
  border-collapse:separate;
  text-align: center;
}
table td{
  padding: 5px 10px;
  border: 1px solid #ccc;
}
/* table td:last-child{
  text-align: right;
} */
a{
  display: inline-block;
  padding: 0px 5px;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.class-list{
  display: flex; 
  list-style-type: none;
  margin:5px 0;
}
nav ul.class-list li a{
  padding:5px 12px;
  margin:0 2px;
  border-radius:5px;
  background-color: lightskyblue;
  box-shadow: 2px 2px 3px skyblue;
  text-decoration: none;
}
.class-list li a:hover{
  background-color: blue;
  color:white;
  font-weight: bolder;
  text-decoration: underline;
}